.Chat-main
  .Chat-main__group-info
    .Group
      .Group__name
        = @group.name
      %ul.Group__member
        Member :
        %li.Group__member__name
          - @group.users.each do |user|
            = user.name

    = link_to edit_group_path(@group), class: "Edit-button" do
      Edit

  .Chat-main__message-list
    = render @messages
    
  .Chat-main__message-form
    = form_with model: [@group, @message], html: {class: "new-message"}, local: true do |f|
      .input-box
        = f.text_field :content, class: 'input-box__text', placeholder: 'type a message'
        = f.label :image, class: 'input-box__image' do
          = icon('fas', 'image')
          = f.file_field :image, class: 'input-box__image__file'
      = f.submit 'Send', class: 'submit-btn'

