.Chat-main
  .Chat-main__group-info
    .Group
      .Group__name
        TESTグループ
      .Group__member
        Member : タロウ
    = link_to "#", class: "Edit-button" do
      Edit
  .Chat-main__message-list
    .Messagebox
      .Message-info
        .Message-info__name
          タロウ
        .Message-info__date
          2020/08/19(Wed) 17:43:01
      .Message
        おはよう
    .Messagebox
      .Message-info
        .Message-info__name
          タロウ
        .Message-info__date
          2020/08/19(Wed) 17:43:01
      .Message
        こんにちは
  .Chat-main__message-form
    = form_with model: [@group, @message], html: {class: "new-message"}, local: true do |f|
      .input-box
        = f.text_field :content, class: 'input-box__text', placeholder: 'type a message'
        = f.label :image, class: 'input-box__image' do
          = icon('fas', 'image')
          = f.file_field :image, class: 'input-box__image__file'
      = f.submit 'Send', class: 'submit-btn'


      -# .input-box
      -#   %input{type: "text", class: "input-box__text", placeholder: "type a message"}
      -#   %label{class: "input-box__image"}
      -#     = icon('fas', 'image')
      -#     %input{type: "file", class: "input-box__image__file"}
      -# %input{type: "submit", class: "submit-btn", value: "Send"}

