.Side-bar
  .Side-bar__user-name
    .Top-items
      .Top-items__name
        = current_user.name
      .Top-items__icons
        = link_to new_group_path, class: "Top-items__icons__edit" do
          = icon('far', 'edit')
          %span<>
        = link_to edit_user_path(current_user), class: "Top-items__icons__cog" do
          = icon('fas', 'cog')
          %span<>
  
  .Side-bar__group-list
    - current_user.groups.each do |group|
      .Group
        = link_to '#' do
          .Group__name
            = group.name
          .Group__message
            まだメッセージがありません